h1 {
  color: var(--color-headings);
  background-color: var(--color-bg);
  font-family: "Gloria Hallelujah", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2em;
  align-items: center;
  padding: 0 1em;
  margin-top: 0;
}
button {
  display: none;
}
h1 nav {
  font-size: medium;
}
h2,
h3,
h4 {
  color: var(--color-headings);
  background-color: var(--color-bg);
  font-family: "Gloria Hallelujah", sans-serif;
  padding: 0em 1em;
  margin: 0;
  overflow-y: auto;
}
img {
  width: 100%;
}
p {
  color: var(--color-sectext);
  padding-left: 1em;
}
body {
  background-color: var(--color-site);
  font-family: "Delius", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
a {
  color: var(--color-links);
  font-family: "Audiowide", sans-serif;
}

label{
  font-size: 25px;
}

.content {
  display: grid;
  grid-template-columns: 30% 60%;
  gap: 5em;
  padding: 0px 5em 0px 5em;
}
.contactinfo {
  color: var(--color-sectext);
  background-color: var(--color-secs);
  width: 100%;
}

.contactinfo dl {
  padding-left: 1em;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1em;
  overflow-y: auto;
}

.about {
  height: 50vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 3em;
  max-width: 100%;
}
.card {
  color: var(--color-sectext);
  background-color: var(--color-secs);
  overflow-y: auto;
  max-width: 80%;
}

.nav-hidden {
  display: none;
}

#dark-mode-toggle {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-family: "Delius", sans-serif;
  font-size: 0.5em;
}

@media (min-width: 786px) {
  #menu-btn {
    display: none;
  }

  #menu-links {
    display: flex;
    flex-direction: row;
    gap: 1em;
  }
}

@media (max-width: 786px) {
  h1 {
    display: grid;
    grid-template-columns: 2;
    gap: 1em;
  }
  button {
    display: block;
    grid-column: 2;
  }
  nav {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  #dark-mode-toggle {
    grid-column: 1;
    grid-row: 2;
    margin-left: 0.5em;
  }
}
