:root {
  --color-site: white;
  --color-headings: #e113bd;
  --color-bg: #b3dbc0;
  --color-secs: #decac0;
  --color-sectext: #2526e0;
  --color-links: #e13000;
}

body.dark-mode {
  --color-site: black;
  --color-bg: #000033;
  --color-secs: #1a1a4d;
  --color-headings: #ccffff;
  --color-sectext: #ffccaa;
  --color-links: #51DBC0;
}
